
.main{
    background: transparent url("../../../public/assets//plane.jpg") 0% 0% no-repeat padding-box;
    width: 1200px;
    height: 475px;
    background-size: cover;
    color: $white;
        h1{
            font-size: 36px;
            font-weight: bold;
            padding-left: 63px;
        }
}

.main_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding-top: 16px;
    padding-right: 63px;
}

.main_header--nav{
    
    
    ul li{        
        list-style: none;
        padding-left: 22px;
     }
     ul li a{
        text-decoration: none;
        color: $white;
     }
     ul li a:hover{
        text-decoration: underline;
     }


}

.main_header--nav--menu{
    display: flex;
   
}
.arrow{
    width: 14px;
    padding-left: 4px;
    
}

.main_title{
    padding-left: 64px;
    padding-top: 102px;
        h2{
            font-size: 30px;
            padding-bottom: 8px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
        }

}

.main_title--button{
    width: 223px;
    height: 50px;
    border-radius: 30px;
    border: 0;  
    background-color: $orange; 
    font-size: 20px;
    font-weight: bold;
    margin-top: 49px;
    color: $white;
}

.main_header--nav---idioms{
     padding-bottom: 12px;
    text-align: right;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .main{
        width: 1024px; 
    }

}

@media (max-width: 768px) {
    .main{
        width: 768px; 
    }


}

@media (max-width: 425px) {
    
.main{
    
    width: 425px;
    height: 475px;
    
        h1{
            font-size: 26px;
            font-weight: bold;
            padding-left: 33px;
        }
}

.main_header{
   
    padding-top: 6px;
    padding-right: 13px;
}

.main_header--nav{
    
    
    ul li{        
        list-style: none;
        padding-left: 12px;
        font-size: 10px;
     }
     ul li a{
        text-decoration: none;
        color: $white;
     }
     ul li a:hover{
        text-decoration: underline;
     }


}

.arrow{
    width: 10px;
    padding-left: 4px;
    
}

.main_title{
    padding-left: 64px;
    padding-top: 102px;
        h2{
            font-size: 30px;
            padding-bottom: 8px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
        }

}
}


//menufloat
.menufloat{
    display: none;   
    width: 145px;
    height: 109px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 0;
    margin: 0;
        .menufloat_a{
            padding: 10px 8px 4px 8px;
            display: flex;
            color: #247BA0;
            text-align: center;
            justify-items: center;
            font-size: 16px;
        }
        ul{
            padding: 0;
        }
}

