
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;    
    font-weight: 400; 
    
}

html, body{
    height: 100%;
    width: 100%;
}

.mainApp{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

